<div class="work card ">

                            <div class="work__preview card-img-top">
                                <img src="./../assets/img/allied/1.jpg">
                            </div>
                            <div class="card-body">
                                <div class="work__title card-title">Allied Landscape Supply</div>
                                <div class="work__description card-text">Компания, продающая строительные материалы</div>
                            </div>
             
                    </div>